flask-cors
dotenv
blinker
click
colorama
pip==23.2.1
Flask
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
pandas
python-dateutil
pytz
six
threadpoolctl
Werkzeug
gunicorn
requests
langchain
openai
chromadb
faiss-cpu
beautifulsoup4
ez-setup
python-magic
regex
